.footerContainer {
  background-color: var(--primary-lighter-background-color);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 0px;
  padding-bottom: 16px;
  transition:
    background-color 400ms ease-in-out,
    color 400ms ease-in-out,
    border-color 400ms ease-in-out;
}

.footerText {
  font-size: 1.367em;
  padding: 4px;
  margin: 4px;
  transition: color 400ms ease-in-out;
}

.crText {
  font-size: 1em;
  padding: 4px;
  margin: 4px;
  transition: color 400ms ease-in-out;
}

.funFact {
  font-size: .8em;
  padding: 4px;
  margin: 8px;
  transition: color 400ms ease-in-out;
  font-style: italic;
  text-align: center;
}
