.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 64px;
  padding-bottom: 0px;
}

.heroTitle {
  font-size: 48px;
}

.heroButtonContainer {
  display: flex;
  gap: 32px;
}

.heroDivider {
  fill: var(--primary-off-background-color);
  transition: fill 400ms ease-in-out;
  display: block;
  bottom: -1px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: transparent;
  pointer-events: none;
  user-select: none;
  vertical-align: middle;
  overflow: hidden;
  padding-top: 96px;
}

.aboutMeContainer {
  background-color: var(--primary-off-background-color);
  flex: 1;
  transition:
    background-color 400ms ease-in-out,
    color 400ms ease-in-out,
    border-color 400ms ease-in-out;
}

