.projectsHeroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 112px;
  padding-bottom: 0px;
}

.projectsHeroTitle {
  font-size: 2em;
}

.projectsHeroDesc {
  font-size: 1.26562em;
  width: 60%;
  text-align: left;
  line-height: 1.5em;
}

.projectsHeroDivider {
  fill: var(--primary-off-background-color);
  transition: fill 400ms ease-in-out;
  display: block;
  bottom: -1px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: transparent;
  pointer-events: none;
  user-select: none;
  vertical-align: middle;
  overflow: hidden;
  padding-top: 136px;
}

.projectOneDivider {
  fill: var(--primary-background-color);
  transition: fill 400ms ease-in-out;
  display: block;
  bottom: -1px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: transparent;
  pointer-events: none;
  user-select: none;
  vertical-align: middle;
  overflow: hidden;
  padding-top: 136px;
}

.projectTwoDivider {
  fill: var(--primary-off-background-color);
  transition: fill 400ms ease-in-out;
  display: block;
  bottom: -1px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: transparent;
  pointer-events: none;
  user-select: none;
  vertical-align: middle;
  overflow: hidden;
  padding-top: 136px;
}

.projectThreeDivider {
  fill: var(--primary-background-color);
  transition: fill 400ms ease-in-out;
  display: block;
  bottom: -1px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: transparent;
  pointer-events: none;
  user-select: none;
  vertical-align: middle;
  overflow: hidden;
  padding-top: 136px;
}

.projectFourDivider {
  fill: var(--primary-off-background-color);
  display: block;
  bottom: -1px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: transparent;
  pointer-events: none;
  user-select: none;
  vertical-align: middle;
  overflow: hidden;
  padding-top: 136px;
}


.waveFooterOne {
  transition: fill 400ms ease-in-out;
  fill: var(--wave-footer-one);
}

.waveFooterTwo {
  transition: fill 400ms ease-in-out;
  fill: var(--wave-footer-two);
}

.waveFooterThree {
  transition: fill 400ms ease-in-out;
  fill: var(--wave-footer-three);
}

.projectOneSection {
  background-color: var(--primary-off-background-color);
  transition:
    background-color 400ms ease-in-out,
    color 400ms ease-in-out,
    border-color 400ms ease-in-out;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 64px;
  padding-bottom: 0px;
}

.projectTwoSection {
  background-color: var(--primary-background-color);
  transition:
    background-color 400ms ease-in-out,
    color 400ms ease-in-out,
    border-color 400ms ease-in-out;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 64px;
  padding-bottom: 0px;

}

.projectThreeSection {
  background-color: var(--primary-off-background-color);
  transition:
    background-color 400ms ease-in-out,
    color 400ms ease-in-out,
    border-color 400ms ease-in-out;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 64px;
  padding-bottom: 0px;

}

.projectFourSection {
  background-color: var(--primary-background-color);
  transition:
    background-color 400ms ease-in-out,
    color 400ms ease-in-out,
    border-color 400ms ease-in-out;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 64px;
  padding-bottom: 0px;

}



.projectContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  gap: 64px;
  max-width: 1200px;
}

.projectTextContainer {
  max-width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.projectTitle {
  font-size: 2em;
}

.projectDesc {
  font-size: 1.26562em;
  line-height: 1.5em;
}

.projectArtifactContainer {
  width: 50%;
  height: 384px;
  max-width: 800px;
}

@media (max-width: 1024px) {
  .projectContainer {
    flex-direction: column;
    align-items: center;
  }

  .projectTextContainer {
    max-width: 85%;
  }

  .projectArtifactContainer {
    width: 67%;
  }
}


.artifactDisplayBox {
  width: 100%;
  box-shadow: rgba(15, 17, 21, 0.35) 0px 6px 9px 0px;
  background-color: var(--primary-off-background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  border-radius: 8px;
  transition:
    background-color 400ms ease-in-out,
    color 400ms ease-in-out,
    border-color 400ms ease-in-out;
}

.artifactHeader {
  background-color: var(--primary-background-color);
  width: 100%;
  padding: 0;
  height: 10%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 400ms ease-in-out,
    color 400ms ease-in-out,
    border-color 400ms ease-in-out;
}


.projectTwoArtifactDisplayBox {
  width: 100%;
  box-shadow: rgba(15, 17, 21, 0.35) 0px 6px 9px 0px;
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  border-radius: 8px;
  transition:
    background-color 400ms ease-in-out,
    color 400ms ease-in-out,
    border-color 400ms ease-in-out;
}

.projectTwoArtifactHeader {
  background-color: var(--primary-off-background-color);
  width: 100%;
  padding: 0;
  height: 10%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 400ms ease-in-out,
    color 400ms ease-in-out,
    border-color 400ms ease-in-out;
}

.projectFourArtifactDisplayBox {
  width: 100%;
  box-shadow: rgba(15, 17, 21, 0.35) 0px 6px 9px 0px;
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  border-radius: 8px;
  transition:
    background-color 400ms ease-in-out,
    color 400ms ease-in-out,
    border-color 400ms ease-in-out;
}

.projectFourArtifactHeader {
  background-color: var(--primary-off-background-color);
  width: 100%;
  padding: 0;
  height: 10%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 400ms ease-in-out,
    color 400ms ease-in-out,
    border-color 400ms ease-in-out;
}


.fileName {
  font-size: 1.26562em;
  color: var(--primary-off-text-color);
  transition:
    color 400ms ease-in-out,
}

.artifactContent {
  font-family: monospace;
  overflow-x: auto;
  transition:
    color 400ms ease-in-out,
}

pre code {
  font-size: 1.26562em;
  color: var(--primary-off-text-color);
  transition:
    color 400ms ease-in-out,
}

pre {
  padding-left: 24px;
  padding-right: 24px;
  transition:
    color 400ms ease-in-out,
}

.projectTwoButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media (max-width: 768px) {
  /* Full-width code containers */
  .projectArtifactContainer {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 384px;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  /* Mobile code display optimization */
  .artifactContent {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
  }

  /* Mobile-friendly code styling */
  pre code {
    font-size: 0.925em;
    line-height: 1.4;
  }

  /* Reduced padding for mobile */
  pre {
    padding-left: 12px;
    padding-right: 12px;
  }

  /* Custom scrollbar styling */
  .artifactContent::-webkit-scrollbar {
    height: 4px;
  }

  .artifactContent::-webkit-scrollbar-track {
    background: transparent;
  }

  .artifactContent::-webkit-scrollbar-thumb {
    background-color: var(--primary-off-text-color);
    border-radius: 2px;
    opacity: 0.6;
  }

  .projectsHeroTitle {
    font-size: 1.75em;
    line-height: 1.2em;
  }

  .projectsHeroDesc {
    width: 80%;
    font-size: 1.25em;
    line-height: 1.6em;
    padding: 0 16px;
  }

  .artifactDisplayBox {
    align-items: center;
    justify-content: center;
  }

  .projectTwoArtifactDisplayBox {
    align-items: center;
    justify-content: center;
  }

  .projectFourArtifactDisplayBox {
    align-items: center;
    justify-content: center;
  }

  .projectTitle {
    font-size: 1.75em;
    line-height: 1.2em;
  }
}
