:root {
  --primary-background-color: #ffffff;
  --primary-off-background-color: #f8f9fb;
  --primary-main-text-color: #4c566a;
  --primary-button-hover-color: #79b8ca;
  --primary-button-border-color: #4c566a;

  --divider-color: rgba(216, 222, 233, 1);
  --primary-button-color: #88c0d0;
  --text-hover-color: #5e81ac;

  --secondary-background-color: #2e3440;
  --secondary-off-background-color: #3b4252;
  --secondary-main-text-color: #eceff4;
  --secondary-off-text-color: #d8dee9;
  --secondary-button-hover-color: #79b8ca;
}

[data-theme="dark"] {
  --primary-background-color: #2e3440;
  --primary-off-background-color: #3b4252;
  --primary-main-text-color: #eceff4;
  --primary-off-text-color: #d8dee9;
  --primary-button-hover-color: #79b8ca;

  --divider-color: rgba(216, 222, 233, 0.6);
  --primary-button-color: #88c0d0;
  --text-hover-color: #5e81ac;

  --secondary-background-color: #ffffff;
  --secondary-off-background-color: #f8f9fb;
  --secondary-main-text-color: #4c566a;
  --secondary-button-hover-color: #79b8ca;
  --secondary-button-border-color: #4c566a;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-main-text-color);
  font-family: "Rubik", sans-serif;
}

body.theme-transition {
  transition:
    background-color 0.5s ease,
    color 0.5s ease,
    border-color 0.5s ease;
}
