<footer class="footerContainer">
  <p class="footerText">
    jacob waldrip
  </p>
  <p class="crText">
    © 2025 - american made
  </p>
  <p class="funFact">
    This entire website loads in a single TCP packet
    <br>
    no round trips needed &sup1;
  </p>
</footer>
