{{#*inline "page"}}

<section class="heroContainer" id="mainContent">
  <h1>Hi {{ name }}!</h1>
  <h2>Hero!</h2>
</section>

<section class="aboutMeContainer" id="aboutMe">
  <h1>Hi {{ name }}!</h1>
  <h2>About Me!</h2>
</section>

{{/inline}}
{{> layout}}
